body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.top {
  padding: 5%;
}

.hamburger {
  display: block;
  cursor: pointer;
}

.line {
  display: block;
  width: 40px;
  height: 6px;
  margin: 8px 10px;
  background-color: #676767;
}

.top h3 {
  font-size: 1.5rem;
  color: #f15724;
  display: block;
  margin-top: 65px;
}

.top h1 {
  margin-top: -12px;
  color: #d82d0d;
  font-size: 1.8rem;
}

.top p {
  color: #504949;
}

.top h2 {
  color: #494747;
}

.program {
  background: url("../images/program-bg.jpeg");
  background-size: cover;
  padding: 20px 10px;
}

.program-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  padding: 20px 0;
}

.program-card {
  background-color: rgba(211, 211, 211, 0.2);
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.program .left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 7%;
  padding-left: 8px;
}

.program h1 {
  color: #fff;
  text-align: center;
}

.program h2 {
  font-size: 20px;
  font-weight: 600;
  text-align: left;
  color: #f14d37;
}

.program p {
  color: #fff;
}

.program-card img {
  height: 35px;
  width: 35px;
}

/* .program hr {
  width: 15%;
  margin-left: 43%;
  background-color: orangered;
  border: none;
  height: 2px;
} */

.join-button {
      border: 0;
  width: 70%;
  margin: 20px 15%;
  padding: 5%;
  text-align: center;
  background-color: #ec5242;
}

.join-button a {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  /* padding: 1.5rem; */
}

.speakers {
  color:#483e3e;
  display: flex;
  flex-direction: column;
      align-items: center;
  padding: 10% 2%;

}

.feature-h1 {
  margin: 0;
}

hr {
  width: 10%;
    margin-left: 43%;
    background-color: #ec5242;
    border: none;
    height: 2px;
    margin-bottom: 10%;

}

.speaker-container {
  display: flex;
  flex-direction: row;
  gap: 5%;
  margin-bottom: 5%;
}

.speaker-image {
  width: 100px;
  height: 100px;
}

.speaker-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.speaker-title {
  font-size: 1.2rem;
  margin-top: 0;
}

.red-desc {
  font-size: 0.6rem;
  margin-top: -12px;
  color: #ec5242;
}

.black-desc {
  font-size: 0.7rem;
  margin-top: 0;
}

.more {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #c5c0c0;
  height: 50px;
  width: 100%;
  gap: 1%;
  border-radius: 5px;
}

.less {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #c5c0c0;
  height: 50px;
  width: 100%;
  gap: 1%;
  border-radius: 5px;
}

.less img {
  transform: rotate(180deg);
}

.speakers-list-desktop {
display: none;
}

.logos-container {
      padding: 3% 0;
  background: #414246;
}

.logos img {
  width: 130px;
  height: auto;
}

.line-one {
      margin-top: -55px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.line-two {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
      margin-top: -35px;
      margin-bottom: -15px;
}

.partner {
      font-size: 1.5rem;
    margin-bottom: 0;
  color: #fff;
  text-align: center;
}

.home-footer {
  display: flex;

    justify-content: space-around;
    align-items: center;
    padding: 6% 0;
}



.home-footer img {
      width: 25%;
    height: auto;
  }
  
  .home-footer p {
  margin-left: -50px;
  color: #585353;
      max-width: 35%;
  font-size: 0.6rem;
}

.about-top {
  background-color: rgba(0,0,0,0.07)
}

.about-top h3 {
  text-align: center;
}

.about-p {
      padding: 5% 4%;
  background-color: #fff;
  line-height: 150%;
  text-align: center;
 box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.about-contact {
    padding: 5% 11%;
    text-align: center;
  background-color: rgba(0,0,0,0.07)

}

.about-contact p {
      color: #504949;
}

.email {
  font-weight: bold;
  color: #333030 ;
  text-decoration: underline;
}

.about-logo {
  padding: 10% 5%;
  text-align: center;
}

.about-logo h2 {
  color: #333030;
}

.about-logo p {
      margin-top: -17px;
    font-size: 0.78rem;
    color: #504949;
}

.about-logo img {
  border: 1px solid #dadada;
  padding: 9% 28%;
}

.ways {
  padding: 5% 10%;
  border-top:  1px solid #dadada;;
  text-align: center;
}

.ways h2 {
  color: #333030;

}

.ways p {
      margin-top: -17px;
      font-size: 0.79rem;
    color: #504949;
        padding-bottom: 5%;
}

.two-ways {
  display: flex;
  flex-direction: column;
  color: #fff;

}

.two-ways div {
  margin-bottom: 5%;
 padding: 13% 0;
}

.two-ways h1 {
  font-size: 1rem;
}

.way-one {
  background: linear-gradient(#ec524280, #ec524280), url(../images/way1bg.jpeg) center/cover no-repeat;
}

.way-two {
  background: linear-gradient(#ec524280, #ec524280), url(../images/way2bg.jpeg) center/cover no-repeat;
}

@media (min-width:768px){
.speakers-list-desktop {
  display: block;
}

.speakers-list {
  display: none;
}

.logos {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

}


